/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# Input
*/
.dropdown-component-input {
  width: auto;
  display: inline-block;
  position: relative;

  .dropdown-handler {
    width: 100%;
    display: inline-block;
    padding: 0 0 0 20px;
    border-radius: 0;
    overflow: hidden;
    background: lightgray;
    cursor: pointer;

    .dropdown-current {
      width: auto;
      line-height: 70px;
      display: inline-block;
      vertical-align: top;
      font-size: 1.25em;
      float: left;
    }
    .dropdown-icon {
      width: 40px;
      height: 70px;
      line-height: 70px;
      display: inline-block;
      text-align: center;
      float: right;
    }
  }

  .dropdown-content {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    overflow: hidden;
    font-size: 1.25em;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    cursor: pointer;

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;

      li {
        width: 100%;
        display: block;
        list-style: none;
        text-align: center;
        margin: 0;
        line-height: 35px;

        &:nth-child(2) {
          background: rgba(0,0,0,0.05);
        }
      }
    }
    div {
      width: 100%;
      display: block;
      list-style: none;
      text-align: center;
      margin: 0;
      line-height: 35px;

      &:nth-child(odd) {
        background: rgba(0,0,0,0.05);
      }
    }
  }

  &.dsp-open {
    .dropdown-handler {
      .dropdown-icon {
        &.dsp-open {
          display: none;
        }
        &.dsp-close {
          display: inline-block;
        }
      }
    }
  }

  &.dsp-close {
    .dropdown-icon {
      &.dsp-open {
        display: inline-block;
      }
      &.dsp-close {
        display: none;
      }
    }
    .dropdown-content {
      display: none;
    }
  }

  &.down {
    &.dsp-open {
      .dropdown-handler {
      }
    }
    .dropdown-content {
      top: 70px;
    }
  }

  &.up {
    &.dsp-open {
      .dropdown-handler {
      }
    }
    .dropdown-content {
      bottom: 70px;
    }
  }

}

/*
# Responsive
*/
@media #{$small-and-down} {

  /*
  # Input */
  .dropdown-component-input {
    .dropdown-handler {
      padding: 0 0 0 10px;

      .dropdown-current {
        line-height: 50px;
        font-size: 0.875em;
      }
      .dropdown-icon {
        width: 30px;
        height: 50px;
        line-height: 50px;
      }
    }

    .dropdown-content {
      font-size: 0.875em;

      ul {
        li {
          line-height: 25px;
        }
      }
      div {
        line-height: 25px;
      }
    }

    &.dsp-open {
      .dropdown-handler {
      }
    }
    &.dsp-close {
      .dropdown-content {
      }
    }

    &.down {
      &.dsp-open {
        .dropdown-handler {
        }
      }
      .dropdown-content {
        top: 50px;
      }
    }

    &.up {
      &.dsp-open {
        .dropdown-handler {
        }
      }
      .dropdown-content {
        bottom: 50px;
      }
    }
  }
}

@media #{$medium-and-down} {
  /*
  # Input */
  .dropdown-component-input {
    .dropdown-handler {
      padding: 0 0 0 15px;

      .dropdown-current {
        line-height: 56px;
        font-size: 0.9em;
      }
      .dropdown-icon {
        width: 35px;
        height: 56px;
        line-height: 56px;
      }
    }

    .dropdown-content {
      font-size: 0.9em;

      ul {
        li {
          line-height: 28px;
        }
      }
      div {
        line-height: 28px;
      }
    }

    &.dsp-open {
      .dropdown-handler {
      }
    }
    &.dsp-close {
      .dropdown-content {
      }
    }
    &.down {
      &.dsp-open {
        .dropdown-handler {
        }
      }
      .dropdown-content {
        top: 56px;
      }
    }

    &.up {
      &.dsp-open {
        .dropdown-handler {
        }
      }
      .dropdown-content {
        bottom: 56px;
      }
    }
  }
}

@media #{$medium-and-up} {
  /*
  # Input */
  .dropdown-component-input {
    .dropdown-handler {
      padding: 0 0 0 20px;

      .dropdown-current {
        line-height: 60px;
        font-size: 1.1em;
      }
      .dropdown-icon {
        width: 40px;
        height: 60px;
        line-height: 60px;
      }
    }

    .dropdown-content {
      font-size: 1.1em;

      ul {
        li {
          line-height: 30px;
        }
      }
      div {
        line-height: 30px;
      }
    }

    &.dsp-open {
      .dropdown-handler {
      }
    }
    &.dsp-close {
      .dropdown-content {
      }
    }
    &.down {
      &.dsp-open {
        .dropdown-handler {
        }
      }
      .dropdown-content {
        top: 60px;
      }
    }

    &.up {
      &.dsp-open {
        .dropdown-handler {
        }
      }
      .dropdown-content {
        bottom: 60px;
      }
    }
  }
}

@media #{$large-and-up} {
  /*
  # Input */
  .dropdown-component-input {
    .dropdown-handler {
      padding: 0 0 0 20px;

      .dropdown-current {
        line-height: 66px;
        font-size: 1.2em;
      }
      .dropdown-icon {
        width: 40px;
        height: 66px;
        line-height: 66px;
      }
    }

    .dropdown-content {
      font-size: 1.2em;

      ul {
        li {
          line-height: 33px;
        }
      }
      div {
        line-height: 33px;
      }
    }

    &.dsp-open {
      .dropdown-handler {
      }
    }
    &.dsp-close {
      .dropdown-content {
      }
    }
    &.down {
      &.dsp-open {
        .dropdown-handler {
        }
      }
      .dropdown-content {
        top: 66px;
      }
    }

    &.up {
      &.dsp-open {
        .dropdown-handler {
        }
      }
      .dropdown-content {
        bottom: 66px;
      }
    }
  }
}

@media #{$extra-large-and-up} {
}
