/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.tag-component {
  display: inline-block;
  vertical-align: top;
  margin: 2px;

  .tag-component-inner {
    border: 2px solid black;
    padding: 2px 10px 2px 10px;
    border-radius: 15px;

    .title {
      font-size: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      line-height: 24px;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .tag-component {
    .tag-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .tag-component {
    .tag-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .tag-component {
    .tag-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
