/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.details-component {
  width: 100%;
  display: block;
  clear: both;
  height: auto;
  padding: 100px 80px;

  .details-component-inner {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;

    .details-component-content {
      display: inline-block;
      vertical-align: top;
      width: 90%;

      .details-component-item {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 0px 20px;
      }
    }
    .details-component-aside {
      display: inline-block;
      vertical-align: top;
      width: 10%;
      text-align: right;

      ul {
        li {
          margin: 0;
          list-style: none;
          display: inline-block;
          vertical-align: middle;
          padding: 5px;
        }
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .details-component {
    padding: 20px;

    .details-component-inner {

      .details-component-content {
        display: block;
        width: 100%;

        .details-component-item {
          display: block;
          width: 100%;
          padding: 0;
        }
      }
      .details-component-aside {
        display: block;
        width: 100%;
      }
    }
  }
}

@media #{$medium-and-down} {
  .details-component {
    padding: 40px;

    .details-component-inner {

      .details-component-content {
        display: block;
        width: 100%;

        .details-component-item {
          width: 50%;
        }
      }
      .details-component-aside {
        display: block;
        width: 100%;
      }
    }
  }
}

@media #{$medium-and-up} {
  .details-component {
    padding: 50px;

    .details-component-inner {
      .details-component-content {
        .details-component-item {
          width: 50%;
        }
      }
      .details-component-aside {
      }
    }
  }
}

@media #{$large-and-up} {
  .details-component {
    padding: 60px;

    .details-component-inner {
      .details-component-content {
        .details-component-item {
          width: 50%;
        }
      }
      .details-component-aside {
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .details-component {
    padding: 70px;

    .details-component-inner {
      .details-component-content {
        .details-component-item {
          width: 50%;
        }
      }
      .details-component-aside {
      }
    }
  }
}
