/*
# Imports
*/
@import "../../../lib/colors.scss";
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# Component */
.introduction-component {
  width: 100%;
  position: relative;

  &:after {
    content: " ";
    width: 100%;
    display: block;
    clear: both;
  }

  .fx {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .introduction-inner {
    width: 100%;
    position: relative;
    display: block;

    .introduction-inner-content {
      position: relative;
      width: 50%;
      margin: 0 auto;
      padding: 100px 0;

      .body {
      }
      .action {
        margin-top: 1em;
      }
    }
  }

  /*
  # Debug */
  &.debug {
    border: 4px solid $color-debug-1;
    &:before {
      content: "render";
      color: $color-debug-1;
      font-family: monospace;
      text-transform: uppercase;
      display: block;
      line-height: 1;
      padding: 5px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
    }
    .fx {
      border: 4px solid $color-debug-2;
      &:before {
        content: "fx";
        color: $color-debug-2;
        font-family: monospace;
        text-transform: uppercase;
        display: block;
        line-height: 1;
        padding: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 999;
      }
    }
    .introduction-inner-content {
      border: 4px solid $color-debug-3;
      &:before {
        content: "inner";
        color: $color-debug-3;
        font-family: monospace;
        text-transform: uppercase;
        display: block;
        line-height: 1;
        padding: 5px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
      }
    }
  }
}

/*
# Responsive */
@media #{$small-and-down} {
  .introduction-component {
    .introduction-content {
    }
    .introduction-inner {
      .introduction-inner-content {
        width: 100%;
        padding: 20px;

        .body {
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .introduction-component {
    .introduction-content {
    }
    .introduction-inner {
      .introduction-inner-content {
        width: 100%;
        padding: 30px;

        .body {
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .introduction-component {
    .introduction-content {
    }
    .introduction-inner {
      .introduction-inner-content {
        width: 80%;
        padding: 40px;

        .body {
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .introduction-component {
    .introduction-content {
    }
    .introduction-inner {
      .introduction-inner-content {
        width: 70%;
        padding: 60px;

        .body {
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .introduction-component {
    .introduction-content {
    }
    .introduction-inner {
      .introduction-inner-content {
        width: 60%;
        padding: 80px;

        .body {
        }
      }
    }
  }
}
