/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.products-component-slide {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 2.5em;
  max-width: 1920px;
  margin: 1em auto;

  &:after {
    content: " ";
    width: 100%;
    display: block;
    clear: both;
  }

  .products-component-inner {
    .product-component-grid {
      width: 100% !important;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .products-component-slide {
    padding: 0 1em !important;
    
    .products-component-inner {
    }
  }
}

@media #{$medium-and-down} {
  .products-component-slide {
    padding: 0 1em !important;

    .products-component-inner {
    }
  }
}

@media #{$medium-and-up} {
  .products-component-slide {
    padding: 0 1.5em !important;

    .products-component-inner {
    }
  }
}

@media #{$large-and-up} {
  .products-component-slide {
    padding: 0 2em !important;

    .products-component-inner {
    }
  }
}

@media #{$extra-large-and-up} {
  .products-component-slide {
    padding: 0 2.5em !important;

    .products-component-inner {
    }
  }
}
