/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.products-component-grid {
  width: 100%;
  position: relative;
  padding: 0 2.5em;
  margin: 1em auto;

  &.hv-padding {
    padding: 100px;
  }

  &:after {
    content: " ";
    width: 100%;
    display: block;
    clear: both;
  }

  .products-component-inner {
    width: calc( 100% + 1em );
    left: -0.5em;
    position: relative;
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .products-component-grid {
    padding: 0 1em !important;
    &.hv-padding {
      padding: 20px;
    }
    .products-component-inner {
    }
  }
}

@media #{$medium-and-down} {
  .products-component-grid {
    padding: 0 1em !important;
    &.hv-padding {
      padding: 40px;
    }
    .products-component-inner {
    }
  }
}

@media #{$medium-and-up} {
  .products-component-grid {
    padding: 0 1.5em !important;
    &.hv-padding {
      padding: 60px;
    }
    .products-component-inner {
    }
  }
}

@media #{$large-and-up} {
  .products-component-grid {
    padding: 0 2em !important;
    &.hv-padding {
      padding: 80px;
    }
    .products-component-inner {
    }
  }
}

@media #{$extra-large-and-up} {
  .products-component-grid {
    padding: 0 2.5em !important;
    &.hv-padding {
      padding: 90px;
    }
    .products-component-inner {
    }
  }
}
