/*
# Imports
*/
@import "../../../lib/colors.scss";
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# Component */
.show-component {
  width: 100%;
  display: block;
  position: relative;

  .fx {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .show-inner {
    width: 100%;
    height: auto;
    display: block;
    padding: 100px;
    position: relative;
    z-index: 2;

    &:after {
      content: " ";
      width: 100%;
      display: block;
      clear: both;
    }

    .show-inner-col {
      display: inline-block;
      vertical-align: top;

      &.left {
        width: 65%;
        padding-right: 40px;
      }
      &.right {
        width: 35%;
      }
    }
  }

  /*
  # Debug */
  &.debug {
    border: 4px solid $color-debug-1;
    &:before {
      content: "render";
      color: $color-debug-1;
      font-family: monospace;
      show-transform: uppercase;
      display: block;
      line-height: 1;
      padding: 5px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
    }
    .fx {
      border: 4px solid $color-debug-2;
      &:before {
        content: "fx";
        color: $color-debug-2;
        font-family: monospace;
        show-transform: uppercase;
        display: block;
        line-height: 1;
        padding: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 999;
      }
    }
    .show-inner-content {
      border: 4px solid $color-debug-3;
      &:before {
        content: "inner";
        color: $color-debug-3;
        font-family: monospace;
        show-transform: uppercase;
        display: block;
        line-height: 1;
        padding: 5px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
      }
    }
  }
}

/*
# Responsive */
@media #{$small-and-down} {
  .show-component {
  
    .fx {
    }
  
    .show-inner {
      padding: 20px;
  
      .show-inner-col {
        &.left {
          width: 100%;
          padding-right: 0px;
        }
        &.right {
          width: 100%;
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .show-component {
  
    .fx {
    }
  
    .show-inner {
      padding: 30px;
  
      .show-inner-col {
        &.left {
          width: 100%;
          padding-right: 0px;
        }
        &.right {
          width: 100%;
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .show-component {
  
    .fx {
    }
  
    .show-inner {
      padding: 60px;
  
      .show-inner-col {
        &.left {
          width: 65%;
          padding-right: 30px;
        }
        &.right {
          width: 35%;
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .show-component {
  
    .fx {
    }
  
    .show-inner {
      padding: 70px;
  
      .show-inner-col {
        &.left {
          width: 65%;
          padding-right: 35px;
        }
        &.right {
          width: 35%;
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .show-component {
  
    .fx {
    }
  
    .show-inner {
      padding: 80px;
  
      .show-inner-col {
        &.left {
          width: 65%;
          padding-right: 40px;
        }
        &.right {
          width: 35%;
        }
      }
    }
  }
}
