@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

.button-submit-component {
  // font-size-size: 16px;
  width: auto;
  min-width: 70px;
  height: 70px;
  border: 0;
  display: inline-block;
  text-align: center;
  background: #f2f2f2;
  position: relative;
  margin: 0 5px;
  overflow: hidden;

  &.hv-label {
    padding: 0 20px;
    &.hv-icon {
      padding: 0 20px 0 0;
      .icon {
        svg {
        }
      }
    }
  }

  &.hv-icon {
    padding: 0;
    .icon {
      padding-left: 0;
    }
  }

  span {
    // font-size-size: 1.75em;
    display: inline-block;
    vertical-align: middle;

    &.label {
    }
    &.icon {
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .button-submit-component {
    width: auto;
    min-width: 50px;
    height: 50px;
    border: 0;
    display: inline-block;
    text-align: center;

    &.hv-label {
      padding: 0 10px;
      &.hv-icon {
        .icon {
        }
      }
    }

    &.hv-icon {
      .icon {
      }
    }

    span {
      // font-size-size: 1em;
      &.label {
      }
      &.icon {
      }
    }
  }
}

@media #{$medium-and-down} {
  .button-submit-component {
    width: auto;
    min-width: 56px;
    height: 56px;
    border: 0;
    display: inline-block;
    text-align: center;

    &.hv-label {
      padding: 0 13px;
      &.hv-icon {
        padding: 0 13px 0 0;
        .icon {
        }
      }
    }

    &.hv-icon {
      .icon {
      }
    }

    span {
      // font-size-size: 1.125em;
      &.label {
      }
      &.icon {
      }
    }
  }
}

@media #{$medium-and-up} {
  .button-submit-component {
    width: auto;
    min-width: 60px;
    height: 60px;
    border: 0;
    display: inline-block;
    text-align: center;

    &.hv-label {
      padding: 0 15px;
      &.hv-icon {
        padding: 0 15px 0 0;
        .icon {
        }
      }
    }

    &.hv-icon {
      .icon {
      }
    }

    span {
      // font-size-size: 1.25em;
      &.label {
      }
      &.icon {
      }
    }
  }
}

@media #{$large-and-up} {
  .button-submit-component {
    width: auto;
    min-width: 66px;
    height: 66px;
    border: 0;
    display: inline-block;
    text-align: center;

    &.hv-label {
      padding: 0 18px;
      &.hv-icon {
        padding: 0 18px 0 0;
        .icon {
        }
      }
    }

    &.hv-icon {
      .icon {
      }
    }

    span {
      // font-size-size: 1.5em;
      &.label {
      }
      &.icon {
      }
    }
  }
}

@media #{$extra-large-and-up} {
}
