@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
FxCube */
.fxIcon-button {
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: inline-block;
  perspective: 200%;
  position: relative;
  vertical-align: middle;

  .front,
  .back,
  .done,
  .cancel {
    width: 140%;
    height: 100%;
    margin-left: -20%;
    padding: 0 20%;
    display: table;
    position: absolute;
    @include transition(all 1s);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    opacity: 1;

    .inner {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      /*
      OnClick */
      .icon {
        margin: 0;
        // font-size-size: 2em;

        &:before {
        }
      }

      /*
      Loading spinner */
      svg {
        width: 100%;
        height: auto;
        display: block;
        padding: 22px;
      }
    }
  }

  .cancel {
    transform: rotateX(90deg);
    top: -100%;
  }
  .front {
    transform: rotateX(0deg);
    top: 0px;
  }
  .back {
    transform: rotateX(-90deg);
    top: 100%;
  }
  .done {
    transform: rotateX(-180deg);
    top: 100%;

    .error {
      display: none;
    }
  }

  &[data-state="cancel"] {
    .cancel {
      transform: rotateX(0deg);
      top: 0px;
    }
    .front {
      transform: rotateX(-90deg);
      top: 100%;
    }
    .back {
      transform: rotateX(-180deg);
      top: 100%;
    }
    .done {
      transform: rotateX(-270deg);
      top: 100%;
    }
  }


  &[data-state="loading"] {
    .cancel {
      transform: rotateX(180deg);
      top: -100%;
    }
    .front {
      transform: rotateX(90deg);
      top: -100%;
    }

    .back {
      transform: rotateX(0deg);
      top: 0;
    }

    .done {
      transform: rotateX(-90deg);
      top: 100%;
    }
  }

  &[data-state="error"] {
    .done {
      .error {
        display: block;
      }
      .complete {
        display: none;
      }
    }
  }
  &[data-state="complete"] {
    .done {
      .error {
        display: none;
      }
    }
  }

  &[data-state="complete"],
  &[data-state="error"] {
    .cancel {
      transform: rotateX(270deg);
      top: -100%;
    }
    .front {
      transform: rotateX(180deg);
      top: -100%;
    }

    .back {
      transform: rotateX(90deg);
      top: -100%;
    }

    .done {
      transform: rotateX(0deg);
      top: 0;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  /*
  # FxCube */
  .fxIcon-button {
    width: 50px;
    height: 50px;

    .front,
    .back,
    .done,
    .cancel {
      .inner {
        .icon {
          // font-size-size: 1.25em;
          &:before {
          }
        }
        svg {
          padding: 12px;
        }
      }
    }

    .cancel {
    }
    .front {
    }
    .back {
    }
    .done {
    }

    &[data-state="cancel"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }


    &[data-state="loading"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }

    &[data-state="complete"],
    &[data-state="error"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }
  }
}

@media #{$medium-and-down} {
  /*
  # FxCube */
  .fxIcon-button {
    width: 56px;
    height: 56px;

    .front,
    .back,
    .done,
    .cancel {
      .inner {
        .icon {
          // font-size-size: 1.5em;
          &:before {
          }
        }
        svg {
          padding: 14px;
        }
      }
    }

    .cancel {
    }
    .front {
    }
    .back {
    }
    .done {
    }

    &[data-state="cancel"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }


    &[data-state="loading"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }

    &[data-state="complete"],
    &[data-state="error"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }
  }
}

@media #{$medium-and-up} {
  /*
  # FxCube */
  .fxIcon-button {
    width: 60px;
    height: 60px;

    .front,
    .back,
    .done,
    .cancel {
      .inner {
        .icon {
          // font-size-size: 1.625em;
          &:before {
          }
        }
        svg {
          padding: 16px;
        }
      }
    }

    .cancel {
    }
    .front {
    }
    .back {
    }
    .done {
    }

    &[data-state="cancel"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }


    &[data-state="loading"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }

    &[data-state="complete"],
    &[data-state="error"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }
  }
}

@media #{$large-and-up} {
  /*
  # FxCube */
  .fxIcon-button {
    width: 66px;
    height: 66px;

    .front,
    .back,
    .done,
    .cancel {
      .inner {
        .icon {
          // font-size-size: 1.75em;
          &:before {
          }
        }
        svg {
          padding: 18px;
        }
      }
    }

    .cancel {
    }
    .front {
    }
    .back {
    }
    .done {
    }

    &[data-state="cancel"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }


    &[data-state="loading"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }

    &[data-state="complete"],
    &[data-state="error"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }
  }
}

@media #{$extra-large-and-up} {
  /*
  # FxCube */
  .fxIcon-button {
    width: 70px;
    height: 70px;

    .front,
    .back,
    .done,
    .cancel {
      .inner {
        .icon {
          // font-size-size: 1.875em;
          &:before {
          }
        }
        svg {
          padding: 20px;
        }
      }
    }

    .cancel {
    }
    .front {
    }
    .back {
    }
    .done {
    }

    &[data-state="cancel"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }


    &[data-state="loading"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }

    &[data-state="complete"],
    &[data-state="error"] {
      .cancel {
      }
      .front {
      }
      .back {
      }
      .done {
      }
    }
  }
}
