/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.text-component {
  width: 100%;
  position: relative;

  &:after {
    content: " ";
    width: 100%;
    display: block;
    clear: both;
  }

  .text-content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .text-inner {
    width: 50%;
    margin: 0 auto;
    padding: 100px;
    position: relative;
    z-index: 2;

    .text-inner-content {
      .body {
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .text-component {
    .text-content {
    }
    .text-inner {
      width: 100%;
      padding: 20px;

      .text-inner-content {
        .body {
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .text-component {
    .text-content {
    }
    .text-inner {
      width: 100%;
      padding: 30px;

      .text-inner-content {
        .body {
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .text-component {
    .text-content {
    }
    .text-inner {
      width: 80%;
      padding: 40px;

      .text-inner-content {
        .body {
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .text-component {
    .text-content {
    }
    .text-inner {
      width: 70%;
      padding: 60px;

      .text-inner-content {
        .body {
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .text-component {
    .text-content {
    }
    .text-inner {
      width: 60%;
      padding: 80px;

      .text-inner-content {
        .body {
        }
      }
    }
  }
}
