/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.menu-container {

  &.dsp-list {
    .menu-line {
      .menu-item {
      }
    }
  }

  &.dsp-inline {
    width: 100%;
    display: table;

    .menu-line {
      display: table-cell;
      float: none;

      .menu-item {
        cursor: pointer;
      }
    }
  }

  .menu-line {
    padding: 0;
    margin: 0;
    list-style: none;

    .menu-item {
      display: block;
      text-align: center;
    }
  }

}

/*
# Responsive
*/
@media #{$small-and-down} {
}

@media #{$medium-and-down} {
}

@media #{$medium-and-up} {
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
