/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.hour-component-list {
  width: 100%;
  position: relative;
  display: block;
  
  .hour-component-inner {
    width: 100%;
    position: relative;
    display: block;

    .hour {
      display: none;
    }

    .content {
      position: relative;
      width: 100%;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .hour-component-list {
    .hour-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .hour-component-list {
    .hour-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .hour-component-list {
    .hour-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
