/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";
@import "../../../lib/forms.scss";
$grey : #ccc;
$red : red;

/*
# document
*/

.form-input-amount {

  .form-item-radio {
  }
  
  .form-item-quantity {
    padding-right: 15px;
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }
  
  .form-item-total {
    display: inline-block;
    vertical-align: top;

    &.hv_quantity {
      padding-left: 15px;
      width: 75%;
    }
  }

}

/*
# Responsive
*/
@media #{$small-and-down} {
  .form-input-amount {
    .form-item-radio {
    }
    .form-item-quantity {
      padding-right: 5px;
      width: 30%;
    }
    .form-item-total {
      &.hv_quantity {
        padding-left: 5px;
        width: 70%;
      }
    }
  }
}

@media #{$medium-and-down} {
  .form-input-amount {
    .form-item-radio {
    }
    .form-item-quantity {
      padding-right: 8px;
      width: 25%;
    }
    .form-item-total {
      &.hv_quantity {
        padding-left: 8px;
        width: 75%;
      }
    }
  }
}

@media #{$medium-and-up} {
  .form-input-amount {
    .form-item-radio {
    }
    .form-item-quantity {
      padding-right: 10px;
      width: 20%;
    }
    .form-item-total {
      &.hv_quantity {
        padding-left: 10px;
        width: 80%;
      }
    }
  }
}

@media #{$large-and-up} {
  .form-input-amount {
    .form-item-radio {
    }
    .form-item-quantity {
      padding-right: 15px;
      width: 15%;
    }
    .form-item-total {
      &.hv_quantity {
        padding-left: 15px;
        width: 85%;
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .form-input-amount {
    .form-item-radio {
    }
    .form-item-quantity {
      padding-right: 15px;
      width: 10%;
    }
    .form-item-total {
      &.hv_quantity {
        padding-left: 15px;
        width: 90%;
      }
    }
  }
}
