/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.error-component-inline {
  .error-component-inner {
    .error-component-content {
      .error-scene {
        .icon {
          display: block;
          max-width: 80px;
          max-height: 80px;
          margin: 0 auto;
          
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .name {
        }
      }
      .error-content {
        .title {
        }
        .subtitle {
        }
        .content {
        }
        &:after {
          content: " ";
          display: block;
          clear: both;
        }
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .error-component-inline {
    .error-component-inner {
      .error-component-content {
        .error-scene {
          .icon {
            svg {
              max-width: 100px;
            }
          }
          .name {
          }
        }
        .error-content {
          .title {
          }
          .subtitle {
          }
          .content {
          }
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .error-component-inline {
    .error-component-inner {
      .error-component-content {
        .error-scene {
          .icon {
            svg {
              max-width: 100px;
            }
          }
          .name {
          }
        }
        .error-content {
          .title {
          }
          .subtitle {
          }
          .content {
          }
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .error-component-inline {
    .error-component-inner {
      .error-component-content {
        .error-scene {
          .icon {
            svg {
              max-width: 100px;
            }
          }
          .name {
          }
        }
        .error-content {
          .title {
          }
          .subtitle {
          }
          .content {
          }
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .error-component-inline {
    .error-component-inner {
      .error-component-content {
        .error-scene {
          .icon {
            svg {
              max-width: 100px;
            }
          }
          .name {
          }
        }
        .error-content {
          .title {
          }
          .subtitle {
          }
          .content {
          }
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .error-component-inline {
    .error-component-inner {
      .error-component-content {
        .error-scene {
          .icon {
            svg {
              max-width: 100px;
            }
          }
          .name {
          }
        }
        .error-content {
          .title {
          }
          .subtitle {
          }
          .content {
          }
        }
      }
    }
  }
}
