/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.error-component {
  width: 100%;
  min-height: 0px;
  background: red;
  display: table;

  .error-component-inner {
    width: 100%;
    height: auto;
    position: relative;
    display: table-cell;
    vertical-align: middle;

    .error-component-content {
      width: 100%;
      height: auto;
      position: relative;

      .error-scene {
        background: brown;
        text-align: center;

        .icon {
          background: turquoise;
          padding: 10px 0;
        }
        .name {
          display: inline;
          text-align: center;
          font-size: 6em;
          background: pink;
          border-top: 1px solid rgba(0,0,0,0.25);
        }
      }

      .error-content {
        background: cyan;
        width: 50%;
        margin: 0 auto;
        text-align: center;

        .title {
          margin: 0;
          display: block;
          font-size: 2em;
        }
        .subtitle {
          font-size: 0.875em;
          font-family: monospace;
          text-transform: uppercase;
          margin: 1em 0 0 0;
          display: block;
        }
        .content {
          margin: 1em 0 0 0;
        }

        &:after {
          content: " ";
          display: block;
          clear: both;
        }
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .error-component {
    min-height: calc(100vh - 50px);

    .error-component-inner {
      .error-component-content {
        .error-scene {
          .icon {
            padding: 10px 0;
          }
          .name {
          }
        }

        .error-content {
          width: 100%;

          .title {
          }
          .subtitle {
          }
          .content {
          }

          &:after {
            content: " ";
            display: block;
            clear: both;
          }
        }
      }
    }
  }
}

@media #{$medium-and-down} {
}

@media #{$medium-and-up} {
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
