/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";
@import "../../../lib/forms.scss";
$grey : #ccc;
$red : red;

/*
# document
*/
.form-item-variants{
  label {
    .required {
    }
  }
  .form-item-input {
    &.form-item-input-variants {
      width: 100%;
      height: 70px;
      padding: 0 20px;
      display: block;
      background: rgba(0,0,0,0.05);
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .form-item-variants{
    label {
    }
    .form-item-input {
      &.form-item-input-variants {
        height: 50px;
        padding: 0 10px;
      }
    }
  }
}

@media #{$medium-and-down} {
  .form-item-variants{
    label {
    }
    .form-item-input {
      &.form-item-input-variants {
        height: 56px;
        padding: 0 13px;
      }
    }
  }
}

@media #{$medium-and-up} {
  .form-item-variants{
    label {
    }
    .form-item-input {
      &.form-item-input-variants {
        height: 60px;
        padding: 0 15px;
      }
    }
  }
}

@media #{$large-and-up} {
  .form-item-variants{
    label {
    }
    .form-item-input {
      &.form-item-input-variants {
        height: 66px;
        padding: 0 18px;
      }
    }
  }
}

@media #{$extra-large-and-up} {
}
