/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.mosaic-component-double {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;

  .mosaic-inner {
    width: 100%;
    position: relative;

    .scene {
      width: 100%;
      position: relative;

      .image {
        width: 100%;
        height: auto;
      }
    }
    .content {
      .title {
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .mosaic-component-double {
    width: 100%;
    .mosaic-inner {
      .scene {
      }
      .content {
        .title {
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .mosaic-component-double {
    width: 100%;
    .mosaic-inner {
      .scene {
      }
      .content {
        .title {
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .mosaic-component-double {
    .mosaic-inner {
      .scene {
      }
      .content {
        .title {
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .mosaic-component-double {
    .mosaic-inner {
      .scene {
      }
      .content {
        .title {
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .mosaic-component-double {
    .mosaic-inner {
      .scene {
      }
      .content {
        .title {
        }
      }
    }
  }
}
