/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/

.mosaic-component-quadruple {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0.5em;
  text-align: left;

  .mosaic-inner {
    width: 100%;
    position: relative;

    .scene {
      width: 100%;
      position: relative;

      .image {
        width: 100%;
        height: auto;
      }
    }
    .content {
      margin: 0.5em 0;
      .title {
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .mosaic-component-quadruple {
    width: 50%;
    .mosaic-inner {
      .scene {
      }
      .content {
        margin: 0.5em 0;
        .title {
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .mosaic-component-quadruple {
    width: 50%;
    .mosaic-inner {
      .scene {
      }
      .content {
        margin: 0.5em 0;
        .title {
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .mosaic-component-quadruple {
    .mosaic-inner {
      .scene {
      }
      .content {
        margin: 0.5em 0;
        .title {
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .mosaic-component-quadruple {
    .mosaic-inner {
      .scene {
      }
      .content {
        margin: 0.5em 0;
        .title {
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .mosaic-component-quadruple {
    .mosaic-inner {
      .scene {
      }
      .content {
        margin: 0.5em 0;
        .title {
        }
      }
    }
  }
}
