/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.fx-product-default {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-align: center;
  padding: 70px;

  img {
    @include transition(1s transform);
    transform-origin: center;
    transform: scale(0.9);
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    padding: 0;
  }

  &:hover {
    img {
      transform: scale(1);
    }
  }

  .version {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    font-family: Monospace;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.15);
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .fx-product-default {
    padding: 20px;
    img {
    }
    .version {
    }
  }
}

@media #{$medium-and-down} {
  .fx-product-default {
    padding: 30px;
    img {
    }
    .version {
    }
  }
}

@media #{$medium-and-up} {
  .fx-product-default {
    padding: 40px;
    img {
    }
    .version {
    }
  }
}

@media #{$large-and-up} {
  .fx-product-default {
    padding: 50px;
    img {
    }
    .version {
    }
  }
}

@media #{$extra-large-and-up} {
  .fx-product-default {
    padding: 60px;
    img {
    }
    .version {
    }
  }
}
