/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.card-component-grid {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;

  .fx {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .card-inner {
    position: relative;
    z-index: 2;

    &.hv-fx {
    }

    .scene {
      width: 100%;
      @include aspect-ratio(1,1);

      .scene-inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &.hv-padding {
          padding: 100px;
        }
      }
    }
    .image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .title {
      margin: 0;
    }
    .subtitle {

    }
    .content {
      text-align: center;
      padding: 0.5em;
    }
    .action {
      padding: 0 0.5em 0.5em 0.5em;
      .variant-component {
        .variant-component-selector {
          width: 100%;
          padding-right: 0;
        }
      }

    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .card-component-grid {
    width: 100%;

    .fx {
    }
    .card-inner {
      .scene {
        .scene-inner {
          &.hv-padding {
          }
        }
      }
      .content {
      }
      .action {
      }
    }
  }
}

@media #{$medium-and-down} {
  .card-component-grid {
    width: 50%;

    .fx {
    }
    .card-inner {
      .scene {
        .scene-inner {
          &.hv-padding {
          }
        }
      }
      .content {
      }
      .action {
      }
    }
  }
}

@media #{$medium-and-up} {
  .card-component-grid {
    width: 33.3333%;

    .fx {
    }
    .card-inner {
      .scene {
        .scene-inner {
          &.hv-padding {
          }
        }
      }
      .content {
      }
      .action {
      }
    }
  }
}

@media #{$large-and-up} {
  .card-component-grid {
    width: 33.3333%;

    .fx {
    }
    .card-inner {
      .scene {
        .scene-inner {
          &.hv-padding {
          }
        }
      }
      .content {
      }
      .action {
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .card-component-grid {
    width: 25%;

    .fx {
    }
    .card-inner {
      .scene {
        .scene-inner {
          &.hv-padding {
          }
        }
      }
      .content {
      }
      .action {
      }
    }
  }
}
