/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/


.card-component-line {
  width: 100%;
  position: relative;
  background: red;
  @include aspect-ratio(6,1);

  .fx {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2;

    .scene {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
    }
    .content {
      width: 100%;
      height: 100%;
      display: table;
      position: absolute;
      bottom: 0;
      padding: 70px;
      z-index: 2;

      &:after {
        content: " ";
        display: block;
        clear: both;
      }

      .header {
        width: 40%;
        height: 100%;
        display: table-cell;
        vertical-align: bottom;
        height: 100%;

        .title {
          margin: 0;
        }
        .subtitle {
          margin: 0;
        }
      }
      /*.body {
        width: 40%;
        height: 100%;
        display: table-cell;
        vertical-align: bottom;
        height: 100%;

        p {
          margin: 0;
        }
      }*/
      .action {
        width: 20%;
        height: 100%;
        text-align: right;
        vertical-align: bottom;
        display: table-cell;
        height: 100%;
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .card-component-line {
    background: yellow;
    @include aspect-ratio(1,1);

    .fx {
    }

    .card-inner {
      .scene {
      }
      .content {
        padding: 20px;

        .title {
          width: 100%;
          display: block;
          height: auto;
        }
        /*.body {
          width: 100%;
          display: block;
          height: auto;
        }*/
        .action {
          width: 100%;
          display: block;
          height: auto;
          text-align: center;
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .card-component-line {
    background: pink;
    @include aspect-ratio(2,1);

    .fx {
    }

    .card-inner {
      .scene {
      }
      .content {
        padding: 30px;

        .title {
        }
        .body {
        }
        .action {
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .card-component-line {
    background: violet;
    @include aspect-ratio(3,1);

    .fx {
    }

    .card-inner {
      .scene {
      }
      .content {
        padding: 40px;

        .title {
        }
        .body {
        }
        .action {
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .card-component-line {
    @include aspect-ratio(4,1);

    .fx {
    }

    .card-inner {
      .scene {
      }
      .content {
        padding: 50px;

        .title {
        }
        .body {
        }
        .action {
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .card-component-line {
    background: brown;
    @include aspect-ratio(5,1);

    .fx {
    }

    .card-inner {
      .scene {
      }
      .content {
        padding: 60px;

        .title {
        }
        .body {
        }
        .action {
        }
      }
    }
  }
}
