/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";
$grey : #ccc;

/*
# document */
.form-item-submit-payment {
  width: 100%;
  
  .form-item-container {
    width: 100%;
    margin: 0.5em 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 1em 0;

    &.dsp-open {
      display: block !important;
    }
    &.dsp-close {
      display: none !important;
    }
  }
  .form-item-handler {
    background: rgba(0,0,0,0.05);
    display: block;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: auto;
      display: table;

      li {
        padding: 0;
        margin: 0;
        height: auto;
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        &.title {
          padding: 0 20px;
        }

        &.checkbox {
          width: 70px;
          height: 70px;
          vertical-align: middle;
          border-right: 1px solid rgba(0,0,0,0.05);

          input[type="radio"] {
            height: 20px;
            width: 20px;
            border-radius: 5px;
            display: inline;
            //accent-color: green;
          }
        }

        &.card {
          padding-left: 10px;

          label {
            display: inline;
          }
          
          .icon {
            width: 70px;
            display: block;
            height: auto;
          }
        }

      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
}

@media #{$medium-and-down} {
}

@media #{$medium-and-up} {
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
