/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.calendar-component-row {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 2.5em;
  margin: 1em 0;

  .calendar-component-inner {
    width: 100%;
    position: relative;

    &.align-left {
      text-align: left;
    }
    &.align-center {
      text-align: center;
    }
    &.align-right {
      text-align: right;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .calendar-component-row {
    padding: 0 1em;
  }
}

@media #{$medium-and-down} {
  .calendar-component-row {
    padding: 0 1em;
  }
}

@media #{$medium-and-up} {
  .calendar-component-row {
    padding: 0 1.5em;
  }
}

@media #{$large-and-up} {
  .calendar-component-row {
    padding: 0 2em;
  }
}

@media #{$extra-large-and-up} {
  .calendar-component-row {
    padding: 0 2.5em;
  }
}
