/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/


.product-component-slide {
  width: 100%;
  min-height: 500px;
  height: 80vh;
  max-height: 800px;
  position: relative;
  overflow: hidden;
  background: red;

  .fx {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .product-inner {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    z-index: 2;
    top: 0;

    .scene {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1;
      float: none;
    }
    .content {
      position: absolute;
      display: table;
      width: 100%;
      height: auto;
      bottom: 0;
      z-index: 2;
      padding: 100px;

      .content-inner {
        display: table-cell;
        width: 30%;
        vertical-align: bottom;

        .title {
        }
        .body {
        }
      }

      .action {
        display: table-cell;
        width: 70%;
        vertical-align: bottom;
        text-align: right;
      }
    }
  }
}

/*
# Responsive */
@media #{$small-and-down} {
  .product-component-slide {
    height: auto;
    max-height: none;

    .fx {
    }
    .product-inner {
      position: relative;
      height: auto;
      
      .scene {
        @include aspect-ratio(1,1);
        position: relative;
        display: block;
      }
      .content {
        position: relative;
        display: block;
        padding: 30px;

        .content-inner {
          width: 100%;
          display: block;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 100%;
          display: block;
          text-align: left;
          margin-top: 1em;
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .product-component-slide {
    .fx {
    }
    .product-inner {
      .scene {
      }
      .content {
        padding: 40px;

        .content-inner {
          width: 100%;
          display: block;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 100%;
          display: block;
          text-align: left;
          margin-top: 1em;
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .product-component-slide {
    .fx {
    }
    .product-inner {
      .scene {
      }
      .content {
        padding: 50px;

        .content-inner {
          width: 50%;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 50%;
          float: none;
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .product-component-slide {
    .fx {
    }
    .product-inner {
      .scene {
      }
      .content {
        padding: 70px;

        .content-inner {
          width: 40%;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 60%;
          float: none;
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .product-component-slide {
    .fx {
    }
    .product-inner {
      .scene {
      }
      .content {
        padding: 90px;

        .content-inner {
          width: 35%;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 65%;
          float: none;
        }
      }
    }
  }
}
