/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/


.product-component-panel {
  width: 100%;
  height: calc(100vh - 100px) !important;
  position: relative;
  overflow: hidden;

  .fx {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .product-inner {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;

    .scene {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1;
      float: none;

      .scene-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
      }
    }
    .content {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      position: absolute;

      .content-inner {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;

        .title {
          margin: 0.1em 0;
        }
        .subtitle {
          margin: 0.1em 0;
        }
        .tags {
          margin: 1em 0;
        }
        .body {
          margin: 1em 0;
        }
      }

      .action {
        display: block;
        width: 100%;
        vertical-align: bottom;
        text-align: right;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

/*
# Responsive */
@media #{$small-and-down} {
  .product-component-panel {
    max-height: none;
    height: 100vh !important;

    .fx {
    }
    .product-inner {
      position: relative;
      height: auto;
      
      .scene {
        @include aspect-ratio(1,1);
        position: relative;
        display: block;
      }
      .content {
        position: relative;
        display: block;

        .content-inner {
          width: 100%;
          display: block;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 100%;
          display: block;
          text-align: left;
          margin-top: 1em;
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .product-component-panel {
    height: calc(100vh - 60px) !important;

    .fx {
    }
    .product-inner {
      .scene {
      }
      .content {

        .content-inner {
          width: 100%;
          display: block;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 100%;
          display: block;
          text-align: left;
          margin-top: 1em;
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .product-component-panel {
    height: calc(100vh - 70px) !important;

    .fx {
    }
    .product-inner {
      .scene {
      }
      .content {

        .content-inner {
          width: 50%;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 50%;
          float: none;
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .product-component-panel {
    height: calc(100vh - 80px) !important;

    .fx {
    }
    .product-inner {
      .scene {
      }
      .content {

        .content-inner {
          width: 40%;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 60%;
          float: none;
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .product-component-panel {
    height: calc(100vh - 90px) !important;

    .fx {
    }
    .product-inner {
      .scene {
      }
      .content {

        .content-inner {
          width: 35%;

          .title {
          }
          .body {
          }
        }

        .action {
          width: 65%;
          float: none;
        }
      }
    }
  }
}
