/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.event-component-popup {
  .event-component-inner {

    .subtitle {
      border-bottom: 1px solid rgba(0,0,0,0.15);
      padding: 10px 0;
    }
    .date {
      width: 50%;
      display: inline-block;
      border-right: 1px solid rgba(0,0,0,0.15);
      padding: 10px 0;
    }
    .time {
      width: 50%;
      display: inline-block;
      padding: 10px 0;
      padding-left: 10px;
    }
    .body {
      border-top: 0;
      padding: 20px 0;
    }
    .tags {
      
    }
    .buttons {
      padding: 20px 0;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
