/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.event-component-cols-allday {
  width: 100%;
  height: 100%;
  padding: 0;
  height: 0;
  position: relative;
  display: table;
  min-height: 30px;

  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.25);
    z-index: 1;
    border-radius: 5px;
  }

  .event-component-inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    color: white;
    z-index: 2;
    padding: 1px 3px; 
    line-height: 15px;
    border-top: 3px solid white;
    border-radius: 5px;

    .time {
      font-family: "Courier New", monospace;
      font-size: 10px;
      color: white;
      display: none;
    }
    .title {
      color: inherit;
      font-size: 13px;
      text-transform: none;
      margin: 0.25em 0;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .event-component-cols-allday {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .event-component-cols-allday {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .event-component-cols-allday {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
