/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.event-component-grid {
  height: 100%;
  position: absolute;
  padding: 0;
  height: 0;

  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.35);
    z-index: 1;
    border-radius: 5px;
  }

  .event-component-inner {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    z-index: 2;
    padding: 1px 3px; 
    line-height: 15px;
    border-left: 3px solid white;
    border-radius: 5px;

    .time {
      font-family: "Courier New", monospace;
      font-size: 10px;
      color: white;
    }
    .title {
      color: inherit;
      text-transform: none;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
