/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.event-component-popup {
  .event-component-inner {

    .subtitle {
      margin: 1em 0;
    }
    .date {
      width: 50%;
      display: inline-block;
      margin: 0.5em 0;
      vertical-align: top;
    }
    .time {
      width: 50%;
      display: inline-block;
      margin: 0.5em 0;
      vertical-align: top;
    }
    .scene {
      @include aspect-ratio(4,3);
      display: block;
      position: relative;
      margin: 1em 0;
    }
    .body {
      margin: 1em 0;
    }
    .tags {
      margin: 0.5em 0;
    }
    .partners {      
      margin: 0.5em 0;
    }
    .buttons {      
      margin: 0.5em 0;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .event-component-grid {
    .event-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
