/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.day-component {
  width: 100%;
  display: block;
  clear: both;
  position: relative;
  border-top: 1px solid rgba(0,0,0,0.25);
  background: rgba(0,0,0,0.05);
  
  .day-component-inner {
    padding: 5px;

    .hour {
      color: rgba(0,0,0,0.5);
      font-size: 13px;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .day-component {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .day-component {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .day-component {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
