/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.day-component-cols {
  display: block;
  clear: both;
  position: relative;
  height: 600px;
  
  .day-component-header {
    text-align: center;
  }
  .day-component-fullday {
    padding: 0.5em 0;
  }
  .day-component-content {
  }
  .day-component-afterday {
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .day-component-cols {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .day-component-cols {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .day-component-cols {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
