/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.day-component-grid {
  width: 100%;
  display: block;
  clear: both;
  position: relative;
  height: auto;
  
  .day-component-header {
    padding-top: 30px;
    text-align: center;
  }
  .day-component-fullday {
  }
  .day-component-content {
  }
  .day-component-afterday {
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .day-component-grid {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-down} {
  .day-component-grid {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$medium-and-up} {
  .day-component-grid {
    .day-component-inner {
      .title {
      }
    }
  }
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
