/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.partner-component {
  width: 20%;
  display: inline-block;
  vertical-align: top;

  .fx {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .partner-inner {
    width: 100%;
    @include aspect-ratio(3,2);

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: auto;
      right: auto;
      background-repeat: no-repeat;
      background-position: center;
    }
    .action {
      .variant-component {
        .variant-component-selector {
        }
      }

    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .partner-component-grid {
    width: 100%;

    .fx {
    }
    .partner-inner {
      .scene {
      }
      .content {
      }
      .action {
      }
    }
  }
}

@media #{$medium-and-down} {
  .partner-component-grid {
    width: 50%;

    .fx {
    }
    .partner-inner {
      .scene {
      }
      .content {
      }
      .action {
      }
    }
  }
}

@media #{$medium-and-up} {
  .partner-component-grid {
    width: 33.3333%;

    .fx {
    }
    .partner-inner {
      .scene {
      }
      .content {
      }
      .action {
      }
    }
  }
}

@media #{$large-and-up} {
  .partner-component-grid {
    width: 33.3333%;

    .fx {
    }
    .partner-inner {
      .scene {
      }
      .content {
      }
      .action {
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .partner-component-grid {
    width: 25%;

    .fx {
    }
    .partner-inner {
      .scene {
      }
      .content {
      }
      .action {
      }
    }
  }
}
