/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document */
.toggler-component {
  width: auto;
  vertical-align: top;
  display: inline-block;

  /*
  handler */
  .toggler-handler {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    z-index: 2 !important;
    cursor: pointer;

    &.dsp-active {
      color: inherit;
    }

    &.float {
      float: left;
    }

    /*
    icon */
    .icon {
      width: 100%;
      height: 100%;
      display: table;

      span {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 3em; // proportion
        line-height: 1;
      }
    }

    /*
    label */
    .label {
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      text-align: center;
      padding: 10px 0;
      font-size: 1em;
      font-weight: bold;
    }

    &.hv_label {
      .icon {
        height: 70%;

        span {
          vertical-align: bottom;
        }
      }
      .label {
        height: 30%;
        vertical-align: top;
        padding: 0;
      }
    }
  }

  /*
  content */
  .toggler-container {
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    z-index: 1 !important;
    display: block;
    top: 0;
    left: 0;

    /*
    FX */
    .fx_content {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }

    /*
    Toggler Content */
    .toggler-content {
      width: 100%;
      height: 100%;
      display: table;
      position: relative;
      z-index: 2;

      .toggler-content-inner {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
      }
    }
    &.inline {
      width: auto;
      position: relative;
      display: inline-block;
      height: auto;
      top: 0;
      vertical-align: top;
    }
    &.default {
      width: 100vw;
    }

    &.fullscreen {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      position: absolute;
    }

    &.right, &.left {
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      overflow: auto;
      width: 25vw;
      min-width: 320px;
      max-width: 460px;
      z-index: 9;
      left: auto;
      right: 0;


      .toggler-content {
        .toggler-content-inner {
          vertical-align: top;
        }
      }
    }

    &.left {
      left: 0;
      right: auto;
    }
    

    &.popup {
      width: 50vw;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {

  .toggler-component {

    /*
    handler */
    .toggler-handler {
      width: 50px;
      height: 50px;

      /*
      icon */
      .icon {
        span {
          font-size: 2em;
        }
      }

      /*
      label */
      .label {
      }

      /*
      hv_label */
      &.hv_label {
        .icon {
          height: 72.5%;
          span {
            font-size: 1.75em;
          }
        }
        .label {
          font-size: 0.65em;
          height: 35%;
        }
      }
    }

    /*
    content */
    .toggler-container {

      &.default {
        width: calc(100vw - 50px);
      }

      &.fullscreen {
        width: 100vw;
      }

      &.right {
        width: calc(100vw - 50px);
        left: auto;
        right: 0;
      }

      &.left {
        width: calc(100vw - 50px);
        left: 0;
        right: auto;
      }

      &.popup {
        width: 50vw;
      }

      /*
      FX */
      .fx_content {
      }

      /*
      Toggler Content */
      .toggler-content {
        .toggler-content-inner {
        }
      }
    }
  }

}

@media #{$medium-and-down} {

  .toggler-component {

    /*
    handler */
    .toggler-handler {
      width: 60px;
      height: 60px;

      /*
      icon */
      .icon {
        span {
          font-size: 2.25em;
        }
      }

      /*
      label */
      .label {
      }

      &.hv_label {
        .icon {
          height: 75%;
          line-height: 1;

          span {
            font-size: 2.25em;
            vertical-align: bottom;
          }
        }
        .label {
          font-size: 0.75em;
          height: 30%;
        }
      }
    }

    /*
    content */
    .toggler-container {

      &.default {
        width: 100vw;
      }

      &.fullscreen {
        width: 100vw;
      }

      &.right {
        width: 75vw;
        left: auto;
        right: 0;
      }

      &.left {
        width: 75vw;
        left: 0;
        right: auto;
      }

      &.popup {
        width: 50vw;
      }

      /*
      FX */
      .fx_content {
      }

      /*
      Toggler Content */
      .toggler-content {
        .toggler-content-inner {
        }
      }
    }
  }
}

@media #{$medium-and-up} {

  .toggler-component {

    /*
    handler */
    .toggler-handler {
      width: 70px;
      height: 70px;

      /*
      icon */
      .icon {
        span {
          font-size: 2.5em;
        }
      }

      /*
      label */
      .label {
      }

      &.hv_label {
        .icon {
          height: 75.5%;
          line-height: 1;

          span {
            font-size: 2.5em;
          }
        }
        .label {
          font-size: 0.8em;
          height: 30%;
        }
      }
    }

    /*
    content */
    .toggler-container {

      &.default {
        width: 100vw;
      }

      &.fullscreen {
        width: 100vw;
      }

      &.right {
        width: 40vw;
        left: auto;
        right: 0;
      }

      &.left {
        width: 40vw;
        left: 0;
        right: auto;
      }

      &.popup {
        width: 50vw;
      }

      /*
      FX */
      .fx_content {
      }

      /*
      Toggler Content */
      .toggler-content {
        .toggler-content-inner {
        }
      }
    }
  }

}

@media #{$large-and-up} {

  .toggler-component {

    /*
    handler */
    .toggler-handler {
      width: 80px;
      height: 80px;

      /*
      icon */
      .icon {
        span {
        }
      }

      /*
      label */
      .label {
      }

      &.hv_label {
        .icon {
          height: 75%;
          font-size: 0.9em;
          line-height: 1;

          span {
            vertical-align: bottom;
          }
        }
        .label {
          font-size: 0.85em;
          height: 30%;
        }
      }
    }

    /*
    content */
    .toggler-container {

      &.default {
        width: 100vw;
      }

      &.fullscreen {
        width: 100vw;
      }

      &.right {
        width: 35vw;
        left: auto;
        right: 0;
      }

      &.left {
        width: 35vw;
        left: 0;
        right: auto;
      }

      &.popup {
        width: 50vw;
      }

      /*
      FX */
      .fx_content {
      }

      /*
      Toggler Content */
      .toggler-content {
        .toggler-content-inner {
        }
      }
    }
  }

}

@media #{$extra-large-and-up} {

  .toggler-component {

    /*
    handler */
    .toggler-handler {
      width: 90px;
      height: 90px;

      /*
      icon */
      .icon {
        span {
        }
      }

      /*
      label */
      .label {
      }

      &.hv_label {
        .icon {
          height: 72.5%;
          font-size: 1.05em;
          line-height: 1;

          span {
            vertical-align: bottom;
          }
        }
        .label {
          font-size: 0.9em;
          height: 30%;
        }
      }
    }

    /*
    content */
    .toggler-container {

      &.default {
        width: 100vw;
      }

      &.fullscreen {
        width: 100vw;
      }

      &.right {
        width: 30vw;
        left: auto;
        right: 0;
      }

      &.left {
        width: 30vw;
        left: 0;
        right: auto;
      }

      &.popup {
        width: 50vw;
      }

      /*
      FX */
      .fx_content {
      }

      /*
      Toggler Content */
      .toggler-content {
        .toggler-content-inner {
        }
      }
    }
  }
}
