/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.partners-component {
  width: 100%;
  display: block;
  position: relative;
  text-align: inherit;
  padding: 0 2.5em;

  .partners-component-inner {
    text-align: inherit;

    &.align-left {
      text-align: left;
    }
    &.align-center {
      text-align: center;
    }
    &.align-right {
      text-align: right;
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .partners-component {
    padding: 0 1em !important;

    .partners-component-inner {
  
      &.align-left {
      }
      &.align-center {
      }
      &.align-right {
      }
    }
  }
}

@media #{$medium-and-down} {
  .partners-component {
    padding: 0 1em !important;
    .partners-component-inner {
      &.align-left {
      }
      &.align-center {
      }
      &.align-right {
      }
    }
  }
}

@media #{$medium-and-up} {
  .partners-component {
    padding: 0 1.5em !important;
    .partners-component-inner {
  
      &.align-left {
      }
      &.align-center {
      }
      &.align-right {
      }
    }
  }
}

@media #{$large-and-up} {
  .partners-component {
    padding: 0 2em !important;
    .partners-component-inner {

      &.align-left {
      }
      &.align-center {
      }
      &.align-right {
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .partners-component {
    padding: 0 2.5em !important;
    .partners-component-inner {
  
      &.align-left {
      }
      &.align-center {
      }
      &.align-right {
      }
    }
  }
}
