/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.variant-component {

  .variant-component-selector {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
  }
  .variant-component-list {
    display: inline-block;
    vertical-align: top;

    .variant-component-row {
      display: none;

      &.dsp-active {
        display: block;
      }

      .variant-component-col {
        padding-left: 5px;
        display: inline-block;
        vertical-align: top;

        &.col-remove {
        }
        &.col-indicator {
          button {
            font-size: 11px;
          }
        }
        &.col-add {
        }
        &.col-price {

        }
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
}

@media #{$medium-and-down} {
}

@media #{$medium-and-up} {
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
