/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.section-component {
  width: 100%;
  display: block;
  background: red;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  /*
  # Inner */
  .section-inner {
    display: flex;
    justify-content: center;

    /*
    # col */
    .section-inner-col {
      width: 50%;
      display: flex;
      align-items: center;
      position: relative;

      &.col-scene {
        background: turquoise;
        @include aspect-ratio(3,2);

        .scene {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          background: pink;
          top: 0;
          left: 0;
        }
      }
      &.col-content {
        background: yellow;

        .content {
          padding: 100px;
        }
      }
    }
  }

  /*
  # left */
  &.alignLeft {
    .section-inner {
      .section-inner-col {
        &.col-scene {
          order: 1;
        }
        &.col-content {
          order: 2;
        }
      }
    }
  }

  /*
  # middle */
  &.alignMiddle {
    .section-inner {
      display: block;

      .section-inner-col {
        width: 100%;
        display: block;

        &.col-scene {
          &:before {
            display: none;
          }
          .scene {
            position: relative;
          }
        }
        &.col-content {
        }
      }
    }
  }

  /*
  # right */
  &.alignRight {
    .section-inner {
      .section-inner-col {
        &.col-scene {
          order: 2;
        }
        &.col-content {
          order: 1;
        }
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
}

@media #{$medium-and-down} {
}

@media #{$medium-and-up} {
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
