/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.cartprice-component {
  color: inherit;
  padding-bottom: 60px;

  .cartprice-component-inner {
    width: 100%;

    .cartprice-component-col {
      padding: 0;
      width: 100%;

      &:after {
        content: " ";
        width: 100%;
        display: block;
        clear: both;
      }

      .cartprice-element {

        .cartprice-element-inner {
          padding: 0 20px;

          .icon {
            width: 60px;
            height: 60px;
            display: inline-block;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
          }
          .label, .value {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
          }
          .value {
            font-family: monospace;
            font-size: 1.25em;
          }
        }
      }
      &.col-subtotal {
        font-size: 1em;
        .cartprice-element {
          .cartprice-element-inner {
            .icon {
            }
            .label {
            }
            .value {
            }
          }
        }
      }
      &.col-promocode {
        font-size: 1em;
        .cartprice-element {
          background: rgba(0,0,0,0.05);

          .cartprice-element-inner {
            .icon {
            }
            .label {
            }
            .value {
            }
          }
        }
      }
      &.col-price {
        font-size: 1em;
        .cartprice-element {
          .cartprice-element-inner {
            .price {
              line-height: 60px;
              margin: 0;
              font-size: 2em;
            }
          }
        }
      }
      &.col-delivery {
        font-size: 1em;
        .cartprice-element {
          .cartprice-element-inner {
            .icon {
            }
            .label {
            }
            .value {
            }
          }
        }
      }
      &.col-condition {
        padding: 20px;
      }
      &.col-action {
        padding: 20px 0;
        text-align: center;
      }
      &.col-footer {
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
}

@media #{$medium-and-down} {
}

@media #{$medium-and-up} {
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
