/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.cartprice-component {
  color: black;

  &:after {
    content: " ";
    width: 100%;
    display: block;
    clear: both;
  }

  .cartprice-component-inner {

    .cartprice-component-col {
      padding: 20px;
      text-align: left;

      &.col-price {
        background: red;
        font-size: 2.5em;
        line-height: 1;
      }
      &.col-delivery {
        background: orange;
        font-size: 1.5em;
        line-height: 1;
      }
      &.col-condition {
        background: pink;
        font-size: 0.875em;
        line-height: 1.3;
        color: rgba(0,0,0,0.75);
      }
      &.col-action {
        text-align: center;
      }
      &.col-footer {
        text-align: center;
      }
    }

  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .cartprice-component {

    &:after {
      content: " ";
      width: 100%;
      display: block;
      clear: both;
    }

    .cartprice-content {
    }
  }
}

@media #{$medium-and-down} {
  .cartprice-component {

    &:after {
      content: " ";
      width: 100%;
      display: block;
      clear: both;
    }

    .cartprice-content {
    }
  }
}

@media #{$medium-and-up} {
  .cartprice-component {

    &:after {
      content: " ";
      width: 100%;
      display: block;
      clear: both;
    }

    .cartprice-content {
    }
  }
}

@media #{$large-and-up} {
  .cartprice-component {

    &:after {
      content: " ";
      width: 100%;
      display: block;
      clear: both;
    }

    .cartprice-content {
    }
  }
}

@media #{$extra-large-and-up} {
  .cartprice-component {

    &:after {
      content: " ";
      width: 100%;
      display: block;
      clear: both;
    }

    .cartprice-content {
    }
  }
}
