/*
# Imports
*/
@import "../../../lib/colors.scss";
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# Component */
.submenu-component {
  padding: 0 2.5em;
  .submenu-inner {
    width: 100%;
    display: block;

    ul {
      .menu-line {
        display: inline-table !important;
        .menu-item {
          width: 100%;
          display: table-cell !important;
          height: 100px;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}

/*
# Responsive */
@media #{$small-and-down} {
  .submenu-component {
    padding: 0 1em;
    .submenu-inner {
      ul {
        .menu-line {
          .menu-item {
            height: 50px;
            font-size: 1em;
          }
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .submenu-component {
    padding: 0 1em;
    .submenu-inner {
      ul {
        .menu-line {
          .menu-item {
            height: 60px;
            font-size: 1em;
          }
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .submenu-component {
    padding: 0 1.5em;
    .submenu-inner {
      ul {
        .menu-line {
          .menu-item {
            height: 70px;
            font-size: 1.25em;
          }
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .submenu-component {
    padding: 0 2em;
    .submenu-inner {
      ul {
        .menu-line {
          .menu-item {
            height: 80px;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .submenu-component {
    padding: 0 2.5em;
    .submenu-inner {
      ul {
        .menu-line {
          .menu-item {
            height: 90px;
            font-size: 1.75em;
          }
        }
      }
    }
  }
}
