/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.action-component {
  width: 100%;
  position: relative;
  padding: 0 2.5em;
  margin: 2em 0;
  text-align: center;

  &:after {
    content: " ";
    width: 100%;
    display: block;
    clear: both;
  }

  .action-inner {
    text-align: inherit;
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .action-component {
    padding: 0 1em;
    .action-inner {
    }
  }
}

@media #{$medium-and-down} {
  .action-component {
    padding: 0 1em;
    .action-inner {
    }
  }
}

@media #{$medium-and-up} {
  .action-component {
    padding: 0 1.5em;
    .action-inner {
    }
  }
}

@media #{$large-and-up} {
  .action-component {
    padding: 0 2em;
    .action-inner {
    }
  }
}

@media #{$extra-large-and-up} {
  .action-component {
    padding: 0 2.5em;
    .action-inner {
    }
  }
}
