/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.filters-component {
  position: relative;
  display: block;
  z-index: 9;
  box-shadow: 0 0 40px rgba(0,0,0,0.15);

  .filters-component-inner {
    width: 100%;
    display: table;
    position: relative;

    .filters-component-col {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      position: relative;

      &.col-left {
        width: 100px;
        z-index: 2;
        border-right: 1px solid rgba(0,0,0,0.05);
      }
      &.col-middle {
        z-index: 1;
        width: calc(100% - 200px);
      }
      &.col-right {
        z-index: 3;
        width: 100px;
      }

      .search-component {
        width: calc(100vw - 200px);
        position: absolute;
        left: 0;
        top: 0;

        .search-component-input {
          width: 100%;
          height: 100px;
          padding: 0 20px;
          font-size: 1.25em;
          display: block;
          border: 0;
        }
      }

      .toggler-component {
        .toggler-handler {

        }
        .toggler-container {

        }
      }


      .dropdown-component-ui {
        display: block;
        float: left;
        border-right: 1px solid rgba(0,0,0,0.05);

        .dropdown-handler {
          width: 100%;

          .dropdown-current {
            text-align: center;
          }
        }
        .dropdown-content {
          background: white;
          width: 100%;
        }
      }
    }
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .filters-component {
    .filters-component-inner {
      .filters-component-col {
        &.col-left {
          width: 50px;
        }
        &.col-middle {
          width: calc(100% - 100px);
        }
        &.col-right {
          width: 50px;
        }
        .search-component {
          width: calc(100vw - 100px);
          .search-component-input {
            width: 100%;
            height: 50px;
            padding: 0 10px;
            font-size: 0.875em;
          }
        }
        .dropdown-component-ui {
          .dropdown-handler {
            .dropdown-current {
            }
          }
          .dropdown-content {
          }
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .filters-component {
    .filters-component-inner {
      .filters-component-col {
        &.col-left {
          width: 60px;
        }
        &.col-middle {
          width: calc(100% - 120px);
        }
        &.col-right {
          width: 60px;
        }
        .search-component {
          width: calc(100vw - 120px);
          .search-component-input {
            width: 100%;
            height: 60px;
            padding: 0 14px;
            font-size: 1em;
          }
        }
        .dropdown-component-ui {
          .dropdown-handler {
            .dropdown-current {
            }
          }
          .dropdown-content {
          }
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .filters-component {
    .filters-component-inner {
      .filters-component-col {
        &.col-left {
          width: 70px;
        }
        &.col-middle {
          width: calc(100% - 140px);
        }
        &.col-right {
          width: 70px;
        }
        .search-component {
          width: calc(100vw - 140px);
          .search-component-input {
            width: 100%;
            height: 70px;
            padding: 0 18px;
            font-size: 1.15em;
          }
        }
        .dropdown-component-ui {
          .dropdown-handler {
            .dropdown-current {
            }
          }
          .dropdown-content {
          }
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .filters-component {
    .filters-component-inner {
      .filters-component-col {
        &.col-left {
          width: 80px;
        }
        &.col-middle {
          width: calc(100% - 160px);
        }
        &.col-right {
          width: 80px;
        }
        .search-component {
          width: calc(100vw - 160px);
          .search-component-input {
            width: 100%;
            height: 80px;
            padding: 0 20px;
            font-size: 1.25em;
          }
        }
        .dropdown-component-ui {
          .dropdown-handler {
            .dropdown-current {
            }
          }
          .dropdown-content {
          }
        }
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .filters-component {
    .filters-component-inner {
      .filters-component-col {
        &.col-left {
          width: 90px;
        }
        &.col-middle {
          width: calc(100% - 180px);
        }
        &.col-right {
          width: 90px;
        }
        .search-component {
          width: calc(100vw - 180px);
          .search-component-input {
            width: 100%;
            height: 90px;
            padding: 0 25px;
            font-size: 1.5em;
          }
        }
        .dropdown-component-ui {
          .dropdown-handler {
            .dropdown-current {
            }
          }
          .dropdown-content {
          }
        }
      }
    }
  }
}
