/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";

/*
# document
*/
.fx-image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;

  &.hv-padding {
    padding: 100px;
  }

  .fx-gradient-content {
    object-fit: cover;
  }

  .version {
    padding: 5px;
    font-family: Monospace;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
  .fx-image {
    &.hv-padding {
      padding: 50px;
    }
    .fx-gradient-content {
    }
    .version {
    }
  }
}

@media #{$medium-and-down} {
  .fx-image {
    &.hv-padding {
      padding: 60px;
    }
    .fx-gradient-content {
    }
    .version {
    }
  }
}

@media #{$medium-and-up} {
  .fx-image {
    &.hv-padding {
      padding: 70px;
    }
    .fx-gradient-content {
    }
    .version {
    }
  }
}

@media #{$large-and-up} {
  .fx-image {
    &.hv-padding {
      padding: 80px;
    }
    .fx-gradient-content {
    }
    .version {
    }
  }
}

@media #{$extra-large-and-up} {
  .fx-image {
    &.hv-padding {
      padding: 90px;
    }
    .fx-gradient-content {
    }
    .version {
    }
  }
}
