.slider-component {
  width: 100%;

  .slider-component-inner {
    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            .slide-component {
              width: 100vw;
              height: 100vh;
            }
            &.slick-active {
            }
          }
        }
      }
    }
  }
}
