/*
# Imports
*/
@import "../../../lib/materialize/normalize.scss";
@import "../../../lib/materialize/mixin.scss";
@import "../../../lib/materialize/responsive.scss";
$grey : #ccc;

/*
# document
*/
.form-item-select {
  position: relative;

  select {
    -webkit-appearance: none;
    appearance: none;
  }

  .form-item-input-select-handle {
    text-align: center;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 0 10px 10px 0;
    display: block;
    border: 1px solid $grey;
    background: white;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
  }

  .form-item-input {
    position: relative;
    z-index: 1;

    &.form-item-input-select {

      /* dimensions */
      width: 100%;
      height: 70px;
      display: block;

      /* margin */
      padding: 0 30px;
      border-radius: 10px;

      /* styling */
      border: 1px solid $grey;
      font-size: 1.5em;

    }

  }
}

/*
# Responsive
*/
@media #{$small-and-down} {
}

@media #{$medium-and-down} {
}

@media #{$medium-and-up} {
}

@media #{$large-and-up} {
}

@media #{$extra-large-and-up} {
}
